@import "../../../GlobalStyle/variables";
@import "../../../GlobalStyle/mixin";

.pers-acting {
    padding: $padding 0;
    .pers-acting-head {
        padding: $padding-10 0;
        @include flex-box(center,space-between);
        h4 {
            font-size: $f-size;
            color: $text-dark-color;
        }
        .acting-nav {

            .acting-ul {
                @include flex-box(center,space-between);
                li {
                    @include flex-box(center,flex-start,5px);
                }
            }
        }
    }
    .credits-tabel {
        border: 1px solid #726f6f52;
        border-radius: $border-r;
        width: 100%;
        .credits-tabel-body{
            .part {
                display: block;
                padding: $padding-5 $padding;
                .year {
                    width: 40px;
                }
                .cercle {
                    position: relative;
                    .media-card {
                        position: absolute;
                        bottom: 50px;
                        left: -200px;
                        width: 500px;
                        height: 170px;
                        background-color: $header-b-ground-c;
                        border-radius: $border-r;
                        padding: $padding-10;
                        z-index: 8888;
                        &::before {
                            content: "";
                            position: absolute;
                            bottom: -20px;
                            left: 217px;
                            border: 10px solid;
                            border-color: $text-dark-color transparent transparent transparent;
                        }
                        .media-container {
                            @include flex-box(flex-start);
                            .image-box{
                                max-height: 150px;
                                max-width: 100px;
                                min-width: 100px;
                                border-radius: $border-r;
                                overflow: hidden;
                        
                                img {
                                    min-width: 100px;
                                    max-width: 100px;
                                    max-height: 150px;
                                    min-height: 150px;
                                }
                                
                            }
                            .media-details {
                                color: $text-light-color;
                                nav.media {
                                    @include flex-box(center,flex-start);
                                    .name {
                                        font-size: $f-size;
                                        font-weight: 900;
                                        color: $text-light-color-2;
                                        &:hover {
                                            color: lighten($color: $text-light-color, $amount: 10);
                                        }
                                    }
                                    .vote {
                                        background-color: $logo-color;
                                        border-radius: $border-r;
                                        @include flex-box(center,flex-start,5px); 
                                        padding: 0 $padding-5;
                                        svg {
                                            font-size: $f-size-s;
                                        }
                                        p {
                                            font-size: $f-size-xs;
                                        }
                                    }
                                }
                                .overview {
                                    font-size: $f-size-xs;
                                    line-height: 1.6;
                                }
                            }
                        }
                    }

                   span {
                     width: 15px;
                     height: 15px;
                     display: block;
                     border: 2px solid gray;
                     border-radius: 50%;
                     margin: 0 $margin;
                     position: relative;
                     cursor: pointer;
                     &:hover {
                        &::before {
                            content: "";
                            position: absolute;
                            width: 7px;
                            height: 7px;
                            background-color: #032541;
                            left: 2px;
                            top: 2px;
                            border-radius: 50%;

                        }
                     }
                   }
                }
                .movie-title {
                    a {
                        color: $logo-color;
                        &:hover {
                            color: darken($color: $logo-color, $amount: 10);
                        }
                    }
                    span {
                        color: $text-dark-color;
                        font-weight: 100;
                        font-size: $f-size-xs;
                    }
                }
            }
        }
    }
}