@import "../../../GlobalStyle/variables";
@import "../../../GlobalStyle/mixin";

.pers-acting {
    padding: $padding 0;
    .pers-acting-head {
        padding: $padding-10 0;
        @include flex-box(center,space-between);
        h4 {
            font-size: $f-size;
            color: $text-dark-color;
        }
        .acting-nav {

            .acting-ul {
                @include flex-box(center,space-between);
                li {
                    @include flex-box(center,flex-start,5px);
                }
            }
        }
    }
    .credits-tabel {
        border: 1px solid #726f6f52;
        border-radius: $border-r;
        width: 100%;
        .credits-tabel-body{
            .part {
                display: block;
                padding: $padding-5 $padding;
                .year {
                    width: 40px;
                }
                .cercle {
                    position: relative;
                 span {
                     width: 15px;
                     height: 15px;
                     display: block;
                     border: 2px solid gray;
                     border-radius: 50%;
                     margin: 0 $margin;
                     position: relative;
                     cursor: pointer;
                     &:hover {
                        &::before {
                            content: "";
                            position: absolute;
                            width: 7px;
                            height: 7px;
                            background-color: #032541;
                            left: 2px;
                            top: 2px;
                            border-radius: 50%;

                        }
                     }
                   }
                }
                .movie-title {
                    a {
                        color: $logo-color;
                        &:hover {
                            color: darken($color: $logo-color, $amount: 10);
                        }
                    }
                    span {
                        color: $text-dark-color;
                        font-weight: 100;
                        font-size: $f-size-xs;
                    }
                }
            }
        }
    }
}