
@import "../../GlobalStyle/variables";
@import "../../GlobalStyle/mixin";

main.tv-seasons {
    .tv-s-container {
        .seasons-header {
            padding: $padding-5 $padding;
            background-color: $logo-color;
            .tv-details{
                @include flex-box();
                .tv-image {
                    max-width: 70px;
                    overflow: hidden;
                    border-radius: $border-r;
                }
                .name {
                    font-size: $main-f-size;
                    color: $text-dark-color;
                }
                .back-to {
                    @include flex-box(center,flex-start,5px);
                    color: lighten($color: $text-dark-color, $amount: 10);
                    font-size: $f-size-s;
                    font-weight: 700;
                    svg {
                        font-size: $f-size-s;
                    }
                }

            }

        }
        .tv-seasons-content {
            padding: $padding;;
        }
    }
}