@import '../../../GlobalStyle/variables';

.season-episode {
    .sea-episode {
        max-width: 1000px;
        margin: 0 auto;
        .episodes {
            padding: $padding-10;
        }
    }
}