@import "../../../GlobalStyle/variables";
@import "../../../GlobalStyle/mixin";

.backdrops {
    .backdrop-container {
        padding: $padding * 2;
        @include flex-box(flex-start,flex-start,40px);
        .back-nav {
            min-width: 260px;
            .b-header {
                padding: $padding;
                background-color: $header-b-ground-c;
                h4 {
                    color: $text-light-color;
                    font-size: $f-size-s;
                    font-weight: 600;
                }
            }
            .lang-ul {
                padding: $padding-10 0;
                li {
                    span {
                        @include flex-box(center,center);
                        font-size: $f-size-xs;
                        background-color: $text-light-color;
                        border-radius: $border-r-l;
                        padding: 0 $padding-10;
                    }
                }
            }
        }
        .back-content {
            display: grid;
            grid-template-columns: repeat(auto-fill,minmax(280px,1fr));
            grid-gap: 20px;
            .b-card {
                min-width: 280px;
                border-radius: $border-r-l;
                overflow: hidden;
                border: 1px solid #00000031;
                .b-image-cont {
                    min-height: 150px;
                    @include flex-box(center,center);
                    background-color: $text-light-color-2;
                    &:hover {
                        background-color: $header-b-ground-c;
                    }
                }
                .b-info {
                    .b-header {
                        @include flex-box(center,space-between);
                        padding: $padding-10;
                        border-bottom: 1px solid #00000021;
                        span {
                            font-size: $f-size-xs;
                            color: $text-dark-color;
                        }
                        svg {
                            font-size: $f-size-s;
                            color: $text-light-color;
                        }
                    }
                    .b-body {
                        padding: $padding-10;
                        .size, .b-lang {
                            span {
                                color: $text-dark-color;
                                font-size: $f-size-xs;
                            }
                            p {
                                color: $text-dark-color;
                                font-size: $f-size-s; 
                                @include flex-box(center,flex-start,5px);
                                svg {
                                    font-size: $f-size-xs;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
