@import "../../GlobalStyle/variables";
@import "../../GlobalStyle/mixin";

.review-card {
    box-shadow: 0px 0px 9px -4px #8b8b8b;
    padding: $padding;
    border-radius: $border-r;
    .review-header {
        @include flex-box;
        margin-bottom: $margin;
        .img {
            max-width: 40px;
            border-radius: $circle;
            overflow: hidden;
        }
        .rev-titles {
            
            .date-rate{
                @include flex-box;

            }
        }
        
    }
    .review-content {
        .review {
            font-size: $f-size-s;
            color: $text-dark-color;
        }
    }
    
}