@import "../../GlobalStyle/variables";
@import "../../GlobalStyle/mixin";

.movie-media {
    padding: $padding;
    .movie-media-header {
        @include flex-box(center,space-between,0);
        padding: $padding-10 0;
        .media-nav {
             @include flex-box;
        }

    }
    .media-content {
        max-width: 100%;
        overflow-x:  auto;
        border-radius: $border-r-l;
        .media-content-container {
            min-width: fit-content;
            @include flex-box(flex-start,center,0);
            .img-container {
                min-width: 500px;
                max-height: 300;
            }
            .poster , .poster img{
                max-width: 200px;
                min-width: 200px;
                min-height: 300px;
            }

        }
    }
}