@import "../../GlobalStyle/variables";
@import "../../GlobalStyle/mixin";

.movie-media {
    padding: $padding;
    .movie-media-header {
        @include flex-box(center,space-between);
        padding: $padding-10 0;
        .media-nav {
             @include flex-box(center,flex-start,50px);
             .title {
                font-size: $f-size;
                color: $text-dark-color;
             }
             .links {
                @include flex-box(center,flex-start,10px);
                button {
                    font-size: $f-size-xs;
                    font-weight: 500;
                    color: $text-dark-color;
                    &.active,&:hover,&.active:hover {
                        color: lighten($color: $text-dark-color, $amount: 50);
                        position: relative;
                        transition: color 1s ;
                        &::before {
                            content: '';
                            position: absolute;
                            top: 100%;
                            left: 50%;
                            width: 0;
                            height: 1px;
                            border: 1px solid lighten($color: $text-dark-color, $amount: 50);
                            border-radius: $circle;
                            background-color: $logo-color;
                            box-shadow: 0 -10px 16px 2px rgb(0 0 0 / 60%);
                            animation: animateActiveBTN .5s  ease-out forwards ;
                        }
                    }
                    
                    &:hover {
                        color: $text-dark-color;

                        &::before {
                            background-color: $text-light-color;
                        }
                    }
                }
             }
        }

    }
    .media-content {
        max-width: 100%;
        overflow-x:  auto;
        border-radius: $border-r-l;
        .media-content-container {
            min-width: fit-content;
            @include flex-box(flex-start,center,0);
            .img-container {
                min-width: 500px;
                max-height: 300;
            }
            .poster , .poster img{
                max-width: 200px;
                min-width: 200px;
                min-height: 300px;
            }

        }
    }
}

@keyframes animateActiveBTN {
    100% {
        width: 100%;
        left: 0%;
    }
}