@import '../../../GlobalStyle/variables';
@import '../../../GlobalStyle/mixin';

.movie-media {
    padding: $padding;
    .movie-media-header {
        @include flex-box(center,space-between);
        .media-nav {
             @include flex-box(center,flex-start,50px);
             .title {
                font-size: $f-size;
                color: $text-dark-color;
             }
             .links {
                @include flex-box(center,flex-start,10px);
             }
        }

    }
    .media-content {
        max-width: 100%;
        overflow-x:  auto;
        overflow-y: hidden;
        border-radius: $border-r-l;
        .media-content-container {
            min-width: fit-content;
            @include flex-box(flex-start,center,0);
            .img-container {
                height: 300px;
                min-width: 200px;
                img {
                    min-height: 300px;
                    max-height: 300px;
                }
            }
            .poster , .poster img , .view-more{
                min-height: 300px;
                max-height: 300px;
            }
            .view-more {
                @include flex-box(center,center);
                width: 150px;
            }

        }
    }
    .view-all,.view-more a {
        font-size: $f-size-xs;
        color: $logo-color;
        font-weight: 700;
        &:hover {
            color: lighten($color: $logo-color, $amount: 20);
        }
    }

    // video card
    .vid-card {
        min-height: 300px;
        min-width: 500px;
        border-radius: 0;
        border: none;
        .vid-image {
            min-height: 300px;
            min-width: 500px;
            img {
                min-height: 300px;
                min-width: 500px;
            }
        }
        .vid-info {
            display: none !important;
        }
    }
}
