@import '../../../GlobalStyle/variables';
@import '../../../GlobalStyle/mixin';

.cover {
    height: calc(100vh - 80px);
    background-size: cover;
    background-position: center;
    padding: $padding;
    .flex-box {
      @include flex-box;
    }
    .cover-container {
        @include flex-box(center,center);
        // flex-wrap: wrap;
        .cover-image {
            min-width: 300px;
            background-color: #504e4e48;
            height: 450px;
            img {
                border-radius: $border-r;
            }
        }
        .cover-content {
            .titles {
                .name {
                    font-size: $main-f-size;
                    color: $text-light-color;
                }
                .details {
                    span {
                        color: $text-light-color-2;
                    }
                }
            }
        }

        .links {
            margin: $margin - 5 0;
            .user-score-container {
                @include flex-box(center,space-between,5px);
                h3 {
                    max-width: 50px;
                    font-size: $f-size-s;
                    color: $text-light-color;
                }
            }
            .user-score  {
                background-color: #0b316b3d;
                color: $text-light-color;
                border-radius: $circle;
                @include flex-box(center,center);
                width: 65px;
                height: 65px;
                border: 5px solid ;
                border-color: $logo-color $logo-color $logo-color transparent;
                cursor: pointer;
                &:hover {
                    transform: scale(1.07);
                }
                h4 {
                    span {
                        font-size: $f-size-xs;
                    }
                }
            }
            .add-to {
                ul {
                    li {
                        background-color: $header-b-ground-c;
                        color: $text-light-color;
                        padding: $padding-10;
                        border-radius: $circle;
                        cursor: pointer;
                        &:hover {
                            transform: scale(1.08);
                         }
                    }
                }
            }
            .play-trailer {
                gap: 5px;
                &:hover {
                   transform: scale(1.03);
                }
                button, svg{
                    cursor: pointer;
                    color: $logo-color;
                }
            }
        }
        .overview {
            margin-bottom: $margin - 5;
            p {
                color: $text-light-color-2;
                font-style: italic;
            }
            h5 {
                font-size: $f-size;
                color: $text-light-color;
                margin:  $margin - 5 0;
            }
            aside {
                color: $text-light-color-2;
                font-size: $f-size-xs;
            }
        }
        .crews {
            flex-wrap: wrap;
            .crew {
               a {
                color: $text-light-color-2;
                font-size: $f-size-s;
                cursor: pointer;
                &:hover {
                    color: $text-light-color;
                }
               }
               aside {
                color: $text-light-color;
                font-size: $f-size-xs;
               }

            }
        }
    }
}