@import "../../GlobalStyle/variables";
@import "../../GlobalStyle/mixin";

.movie-stits {
    .stits-container {
        .stits-nav {
            @include flex-box(center,center,5px);
            padding: $padding 0;
            .social-links {
                height: 45px;
            }

        }
        .status {
            .stat {
                padding: $padding-10 0;
                h4 {
                    color: $text-dark-color;
                    margin-bottom: 5px;
                }
                h5 {
                    font-weight: 400;
                    color: $text-dark-color;
                }
            }
        }
        .keywords {
            padding-bottom: $padding;
            .key-t {
                margin: 10px 0;
            }
            .keywords-ul {
                @include flex-box(center,flex-start,5px);
                flex-wrap: wrap;
                li {
                    padding: $padding-5 $padding-10;
                    border-radius: $border-r;
                    background-color: $text-light-color;
                    cursor: pointer;
                    font-size: $f-size-xs;
                }
            }
        }
        .score {
            padding-top: $padding;
            border-top: 1px solid #cac7c7;
            .sc-t {
               color: $text-dark-color;
               font-size: $f-size-s;
            }
            .sc-box {
                border-radius: $border-r;
                overflow: hidden;
              .sc-per {
                background-color: $text-dark-color;
                color: $text-light-color;
                padding: $padding-10;
              }
              p {
                background-color: #c9c6c6;
                color: $text-dark-color;
                padding: $padding-10;
              }
            }
        }
    }
}