@import "../../../GlobalStyle/variables";
@import "../../../GlobalStyle/mixin";

.tv-content {
    max-width: 100vw;

    @media (min-width: 880px) {
        @include flex-box(flex-start,center,10px);
        .cast {
            width: 70%;
        }
        .right-content {
            width: 30%;
        }  
    }
}
.tv-season {
    padding: $padding;
    .sea-name {
        color: $text-dark-color;
        margin-bottom: $margin;
        font-size: $f-size;
    }

    .to-seasons {
       font-size: $f-size-s;
        color: $logo-color;
        &:hover {
            color: darken($color: $logo-color, $amount: 15);
        }
    }
}