@import "../../../GlobalStyle/variables";
@import "../../../GlobalStyle/mixin";

.tv-content {
    @include flex-box(flex-start,center,10px);
    max-width: 100vw;
    .cast {
        width: 75%;
    }
    .right-content {
        width: 25%;
    }
}
.tv-season {
    padding: $padding;
    .sea-name {
        color: $text-dark-color;
        margin-bottom: $margin;
        font-size: $f-size;
    }

    .to-seasons {
       font-size: $f-size-s;
        color: $logo-color;
        &:hover {
            color: darken($color: $logo-color, $amount: 15);
        }
    }
}