@import "../../../GlobalStyle/variables";
@import "../../../GlobalStyle/mixin";

.top-billed {
    padding: $padding;
    .title {
        font-size: $main-f-size;
        color: $text-dark-color
    }
    .persons {
        @include flex-box(flex-start);
        overflow-x: auto;
        padding: $padding 0;
    }
    .cast-link {
        color: $logo-color;
        font-size: $f-size-s;
        font-weight: bold;
        &:hover {
            color: darken($color: $logo-color, $amount: 10);
        }
    }
    .view-more {
        min-width: 120px;
        min-height: 280px;
        @include flex-box(center,center);
        a {
            @include flex-box(center,center,0);
        }
    }
}