@import "../../GlobalStyle/variables";
@import "../../GlobalStyle/mixin";

.Movie-social {
    padding: $padding;
    hr {
        background-color: #c5bfbf
    }
    .social-header {
        @include flex-box;
        margin: $margin 0;;
        .social-nav {
        @include flex-box;

        }
    }
    .read-review {
        color: $text-dark-color;
        font-size: $f-size-s;
        padding: $padding-10 0;
        display: block;
        font-weight: 500;
    }
}