
$header-b-ground-c: #032541;
$logo-color: #26bad3;
$text-light-color: #d8e0e7;
$text-light-color-2: #d4dae0;
$text-dark-color:#032541;


$gap-l : 10px;
$padding: 20px;
$padding-10: 10px;
$padding-5: 5px;
$margin: 20px;
$main-f-size: 28px;

$f-size: 20px;
$f-size-s: 16px;
$f-size-xs:12px;

$border-r: 5px;
$border-r-l: 10px;
$circle: 50%;