

$gap-l : 10px;
$header-b-ground-c: #032541;
$logo-color: #26bad3;
$text-light-color: #f9fafb;
$padding: 20px;
$margin: 20px;
$main-f-size: 28px;
$f-size: 20px;
$f-size-s: 16px;
$border-r: 10px;
$border-r-l: 20px;