@import "../../../GlobalStyle/variables";
@import "../../../GlobalStyle/mixin";

.person-stitis {
    .pers-stit-nav {
        @include flex-box(center,flex-start,10px);
        padding-top: $padding-10;
        .social-links {
            .social-image {
                width: 33px;
                height: 50px;
                img {
                    height: 30px;
                    width: 30px;
                }
            }
        }
    }
    h3 {
        color: $text-dark-color;
        margin-top: 20px;
    }
    .personal-info {
        padding: $padding-10 0;
        li {
           margin-bottom: $margin; 
           h4 {
            color: $text-dark-color;
            font-size: $f-size-s;
           }
           h6 {
            font-size: $f-size-s;
            font-weight: normal;
            color: lighten($color: $text-dark-color, $amount: 5);
           }
        }
    }
    .kn-for {
        .for {
            color: $text-dark-color;
        }
        .kn-for-ul {
            li {
                font-size: $f-size-s;
                font-weight: normal;
                color: lighten($color: $text-dark-color, $amount: 5);
            }
        }
    }
}