@import "../../../GlobalStyle/variables";
@import "../../../GlobalStyle/mixin";

.person-cover {
    max-width: 100%;
    .per-cover-container {
        @media (min-width: 992px) {
            padding: $padding $padding-40;
            .person-info {
               width: 25%;
            }
            .person-cov-content {
                width: 75%;
            }
        }
        padding: $padding;
        .person-img {
            text-align: center;
            img {
                width: 300px;
                max-width: 100%;
                border-radius: $border-r;
            }
        }
        .person-name {
            font-size: $f-size-1;
        }
        .person-cov-content {
            .piagrahpy {
                padding-bottom: $padding;
            }
            .pi-ti {
                font-size: $f-size;
            }
            .known-for {
                max-width: 100%;
                .kn-for-container {
                    padding: $padding 0;
                    overflow-x: auto;
                    @include flex-box(flex-start);
                }
            }
        }
        @media (min-width:630px) {
            @include flex-box(flex-start,flex-start,20px);
            .person-info {
                width: 30%;
                .person-img {
                    img {
                        max-width: 100%;
                        border-radius: $border-r;
                    }
                }

            }
            .person-cov-content {
                width: 70%;
            }
            
        }
    } 
}