@import "../../../GlobalStyle/variables";
@import "../../../GlobalStyle/mixin";

.recommendations {
    .recom-t {
        font-size: $f-size-2;
        color: $text-dark-color;
        @media  (max-width:991px){
            padding: 0 $padding;
        }
    }
    .recom-content {
          @include flex-box(flex-start);
          overflow-x: auto;
          padding: $padding-10  0;
          @media  (max-width:991px){
            padding: $padding-10 $padding;
        }
          .recomm-media-card {
            min-width: 250px;
            .recomm-image {
                cursor: pointer;
                position: relative;
                border-radius: $border-r;
                overflow: hidden;
                height: 141px;
                background-color: $text-light-color;
                img {
                    min-width: 250px;
                    min-height: 141px; 
                }
                .overlay-content {
                    @include postion(absolute,100%,fit-content,unset,0,99);
                    bottom: -100%;
                    padding: $padding-5;
                    background-color: $text-light-color;
                    display: none;
                    @include flex-box(center,space-between);
                    transition: all .5s;
                    .over-date, .add-to {
                        @include flex-box(center,center,5px);
                        color: $text-dark-color;
                        svg {
                            font-size: $f-size-s
                        }
                    }
                }
                &:hover .overlay-content  {
                    
                    bottom: 0;
                }
            }
            .media-content {
                @include flex-box(center,space-between);
                font-size: $f-size-xs;
                color: $text-dark-color;
            }
          }
    }
}