@import '../../../GlobalStyle/variables';
@import '../../../GlobalStyle/mixin';

.movie-stits {
    margin-top: $margin;
    .stits-container {
        .stits-nav {
            @include flex-box(center,flex-start,10px);
            padding: $padding 0;
            .social-links {
                height: 40px;
                width: 40px;
                img {
                    height: 30px;
                    width: 30px;
                    filter: grayscale(100%);   
                    &:hover {
                        transform: scale(1.05);
                        filter: grayscale(0);
                    }
                }
            }

        }
        .status {
            .stat {
                padding: $padding-10 0;
                h4 {
                    color: $text-dark-color;
                    margin-bottom: 5px;
                }
                h5 {
                    font-weight: 400;
                    color: $text-dark-color;
                }
            }
        }
        .network {
            .net-t {
                font-size: $f-size-5;
            }
            .net-images {
                padding: $padding-10 0;
                img {
                    max-width: 150px;
                    max-height: 30px;
                    margin-bottom: 5px;
                    display: block;
                }
            }
        }
        .keywords {
            padding-bottom: $padding;
            .key-t {
                margin: 10px 0;
            }
            .keywords-ul {
                @include flex-box(center,flex-start,5px);
                flex-wrap: wrap;
                li {
                    padding: $padding-5 $padding-10;
                    border-radius: $border-r;
                    background-color: $text-light-color;
                    cursor: pointer;
                    font-size: $f-size-xs;
                }
            }
        }
        .score {
            padding-top: $padding;
            border-top: 1px solid #cac7c7;
            max-width: 250px;
            .sc-t {
               color: $text-dark-color;
               font-size: $f-size-s;
            }
            .sc-box {
                border-radius: $border-r;
                overflow: hidden;
              .sc-per {
                background-color: $text-dark-color;
                color: $text-light-color;
                padding: $padding-10;
              }
              p {
                background-color: #c9c6c6;
                color: $text-dark-color;
                padding: $padding-10;
              }
            }
        }
    }
}