@import "../../GlobalStyle/variables";
@import "../../GlobalStyle/mixin";

.person-cover {
    max-width: 100%;
    .per-cover-container {
        @include flex-box(flex-start);
        padding: $padding;
        .person-img {
            width: 30%;
            img {
                max-width: 100%;
                border-radius: $border-r;
            }
        }
        .person-cov-content {
            width: 70%;
            .person-name {
                padding-bottom: $padding;
                h3 {
                    font-size: $main-f-size;
                    color: $text-dark-color;
                }
            }
            .piagrahpy {
                padding-bottom: $padding;
            }
            .pi-ti {
                font-size: $f-size;
                color: $text-dark-color;
                padding-bottom: $padding-10;
            }
            .known-for {
                max-width: 100%;
                .kn-for-container {
                    overflow-x: auto;
                    @include flex-box(flex-start);
                }
            }
        }
    } 
}