@import "../../GlobalStyle/variables";
@import "../../GlobalStyle/mixin";

.movies {
    padding: $padding;
    @media (min-width: 992px) {
        padding: $padding $padding-40;
    }
    .filt-title {
        margin-bottom: $margin;
        font-size: $f-size-1;
        color: $text-dark-color
    }
    .movies-container {
        &.web {
            @include flex-box(flex-start,center,20px);
            @media (min-width:992px) {
                gap: 60px;
            }
            .sort {
                 width: 280px;
            }
        }
        .filters-box {
            min-width: fit-content;
        }
        .movies-content {
            @include flex-box(flex-start,flex-start,20px);
            flex-wrap: wrap;
            .not-found {
                width: 400px;
                height: calc(100vh - 100px);
                @include flex-box(center,center);
                .text {
                    font-size: $f-size-2;
                    color: $text-dark-color-2;
                }

            }
        }
    }
    .filter-btn {
        width: 100%;
        text-align: center;
        margin: 10px 0;
        padding: $padding-5;
        color: lighten($color: $text-dark-color, $amount: 10);
        font-weight: 700;
        font-size: $f-size-3;
        border: 1px solid $logo-color;
        &.loading {
            position: relative;
            overflow: hidden;
            z-index: 0;
            &::before {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                height: 100%;
                background-image:linear-gradient(to right,$text-dark-color, $logo-color);
                animation: loading .3s  infinite forwards ;
            }
        }
        span {
            z-index: 9999;
        }
        &:disabled{
            cursor:wait;
        }
    }
}

@keyframes loading {
    0% {
        width: 0;
    }
    5% {
        width: 5%;
    }
    10% {
        width: 10%;
    }   
    
    15% {
        width: 15%;
    }   
     20% {
        
        width: 20%;
    } 
    30% {
        width: 30%;
    }
    40% {
        width: 40%;
    }
    50% {
        width: 50%;
    }
    60% {
        width: 60%;
    }
    70% {
        width: 70%;
    }
    80% {
        width: 80%;
    }
    90% {
        width: 90%;
    }
    100% {
        width: 100%;
    }
}