@import '../../GlobalStyle/variables';
@import '../../GlobalStyle/mixin';

.cover {
    height: calc(100vh - 80px);
    background-size: cover;
    background-position: center;
    padding: $padding;
    .flex-box {
      @include flex-box;
    }
    .cover-container {
        @include flex-box(center,center);
        .cover-image {
            img {
                border-radius: $border-r;
            }
        }
        .cover-content {
            .titles {
                margin-bottom: $margin;
                .name {
                    font-size: $main-f-size;
                    color: $text-light-color;
                }
                .details {
                    span {
                        color: $text-light-color-2;
                    }
                }
            }
        }

        .links {
            .user-score  {
                background-color: $logo-color;
                color: $text-light-color;
                padding: $padding;
                border-radius: $circle;
                border: 5px solid $text-dark-color;
            }
            .add-to {
                ul {
                    li {
                        background-color: $header-b-ground-c;
                        color: $text-light-color;
                        padding: $padding-10;
                        border-radius: $circle;
                        cursor: pointer;
                    }
                }
            }
        }
        .crews {
            
            flex-wrap: wrap;
        }
    }
}