@import '../../GlobalStyle/variables';
@import '../../GlobalStyle/mixin';

.cover {
    height: calc(100vh - 80px);
    background-size: cover;
    background-position: center;
    padding: $padding;
    @include flex-box(center);
    .cover-container {
        @include flex-box(center,center);
        .cover-image {
            img {
                border-radius: $border-r;
            }
        }
    }
}