@import '../../../GlobalStyle/variables';
@import '../../../GlobalStyle/mixin';

.media-header {
    background-color: aliceblue;
    .media-nav {
        @include flex-box(center,center,10px);
        .med-title {
            position: relative;
            @include flex-box(center,center,0);
            cursor: pointer;
            color: rgb(131, 129, 129);
            font-weight: normal;
            padding:$padding-10;
            font-size: $f-size-xs;
            .links-list , li.videos .videos-ul {
                display: none;
                position: absolute;
                top: 38px;
                left: 0;
                padding:10px 0;
                width: 150px;
                background-color: aliceblue;
                border-radius: 5px;
                box-shadow: 0 0 10px 0px #8d8b8bb0;
                li {
                     @include flex-box(center,space-between);
                     padding: $padding-5 $padding;
                    a {
                        color: $text-dark-color;
                    }
                    &.videos {
                        position: relative;
                        .videos-ul {
                            top: 0;
                            left: 100%;
                        }
                        &:hover {
                            .videos-ul {
                                display: block;
                            }
                        }
                    }
                }
            }
            &:hover {
                .links-list {
                    display: block;
                }
            }

        }
    }
}