@import "../../GlobalStyle/variables";
@import "../../GlobalStyle/mixin";

.main-header {
    max-width: 100vw;
    // background-color: $header-b-ground-c;
    background-image:linear-gradient(to right,$text-dark-color,$header-b-ground-c, $logo-color);
    .header-container {
        width: 100%;
        max-width: 100%;
        padding: 20px;
        @include flex-box(center,flex-start,20px);
        position: relative;
        .logo {
            min-width: fit-content;
            cursor: pointer;
            h1 {
                text-transform: uppercase;
                color: $logo-color;
                cursor: pointer;
            }
        }
        .nav-links {
            min-width: calc(100% - 210px);
            @include flex-box(center,space-between);
            .part-one {
                @include flex-box(center,center,20px);
                flex: 1;
                max-width: fit-content;
                h4 {
                    position: relative;
                    text-transform: capitalize;
                    color: $text-light-color;
                    cursor: pointer;
                    .fiter {
                        display: none;
                        position: absolute;
                        left: 0;
                        top: 100%;
                        background-color: #fff;
                        padding: $padding-10 0;
                        min-width: 150px;
                        border-radius: 5px;
                        border: 1px solid #ecebeb;
                        z-index: 9999999;
                        li {
                            cursor: pointer;
                            color: $text-dark-color;
                            font-size: $f-size-xs;
                            padding: $padding-5 $padding;
                            &:hover {
                                background-color: #ebe8e8
                            }
                        }
                    }
                    &:hover {
                        .fiter {
                            display: block;
                        }
                    }
                }
            }
            .part-two {
                @include flex-box(center,center, 20px);
                flex: 1;
                max-width: fit-content;
                svg {
                    color: $text-light-color;
                    cursor: pointer;
                }
                .search-icon {
                    .cancel-icon {
                        position: relative;
                        &::before {
                            position: absolute;
                            content: "";
                            bottom: -22px;
                            left: 0;
                            border: 15px solid;
                            border-color:transparent transparent  #fff  transparent ;
                            z-index: 9999;
                        }
                    }

                }

            }
        }
        .search-form {
            position: absolute;
            bottom: -50px;
            left: 0;
            z-index: 999;
            border-radius: 0;
            z-index: 99999;
        }
    }
}