@import "../../GlobalStyle/variables";
@import "../../GlobalStyle/mixin";

.season-card {
    @include flex-box(flex-start);
    margin-bottom: $margin;
    padding: $padding 0;
    border-bottom: 1px solid #b1adad ;
    cursor: pointer;
    .season-image {
        max-width: 100px;
        min-width: 100px;
        img {
            border-radius: $border-r;
        }
    }
}