@import "../../GlobalStyle/variables";
@import "../../GlobalStyle/mixin";

.movies {
    padding: $padding;
    .movies-container {
        @include flex-box(flex-start);
        .filters {
            min-width: fit-content;
        }
        .movies-content {
            @include flex-box(flex-start,center);
            flex-wrap: wrap;
        }
    }
    .rang {
        min-width: 200px;
        max-width: 200px;
        background-color: antiquewhite;
        height: 6px;
        position: relative;
        margin: $margin 0;
        .reng-fill {
            height: 6px;
        }
        .reng-fill, .left, .right {
            position: absolute;
            top:0;
            background-color: aqua;
            cursor: pointer;
        }
        .left, .right {
            cursor:grabbing;
            width: 20px;
            height: 20px;
            border-radius: $circle;
            translate: 0 calc(-50% + 3px);
        }
    }
}