@import '.../../../../GlobalStyle/variables';
@import '.../../../../GlobalStyle/mixin';

.mov-transation {
    .alt-content {
        .trans-titles {
            .trans-content-card {
               border-radius: $border-r; 
               overflow: hidden;
               box-shadow: 0 0 20px 0px #5d5b5b3d;
               margin-bottom: $margin;
               .trans-cont-head {
                  padding: $padding-10;
                  background-color: lightgray;
                  @include flex-box(center,flex-start,10px)
               }
               .tr-ca-body {
                 @include flex-box(center,flex-start,0px);
               }
            }
        }
    }
}