@import "../../GlobalStyle/variables";
@import "../../GlobalStyle/mixin";

main.search {
    padding: $padding;
    .search-container {
        @include flex-box(flex-start);
        .search-flters {
            min-width: 200px;
            .filter-header {
                background-color: $logo-color;
                padding: $padding;
            }
        }
    }
}