@import "../../GlobalStyle/variables";
@import "../../GlobalStyle/mixin";

main.search {
    .search-container {
        padding: $padding;
        @media (min-width: 992px) {
            padding: $padding $padding-40;
        }
        .search-results {
            .key-l {
                padding: $padding-5 0;
                .keyword-link  {
                    color: $text-dark-color-2;
                    font-size: $f-size-5;
                    font-weight: 500;
                }
            }
        }
    }
}