@import '../../../GlobalStyle/variables';
@import '../../../GlobalStyle/mixin';

.Movie-social {
    margin-bottom: $margin;
    .social-header {
        @include flex-box(center,space-between,50px);
        padding: 0 $padding;
        .social-title {
            font-size: $f-size;
        }
        .social-nav {
           @include flex-box(center,flex-start,0);
           li {
             padding: $padding-10;
           }
        }
    }
    .no-result {
        padding: $padding;
    }
    .read-all-review  {
        color: $logo-color;
        font-size: $f-size-5;
        display: block;
        font-weight: 700;
        padding: $padding;
    }
}