@import '../../../GlobalStyle/variables';
@import '../../../GlobalStyle/mixin';

.Movie-social {
    padding: 0 $padding;
    .social-header {
        @include flex-box(center,space-between,50px);
        margin-bottom: $margin;
        .social-title {
            font-size: $f-size;
        }
        .social-nav {
           @include flex-box(center,flex-start,0);
           li {
             padding: $padding-10;
           }
        }
    }
    .read-all {
        color: $logo-color;
        font-size: $f-size-s;
        padding: $padding-10 0;
        display: block;
        font-weight: 700;
        &:hover {
            color: lighten($color: $logo-color, $amount: 20);
        }
    }
}