@import "../../GlobalStyle/variables";
@import "../../GlobalStyle/mixin";

.keywords-page {
    padding: $padding;
    .keywords-container{
         .key-content {
             .key-card {
                @include flex-box();
                border-radius: $border-r;
                overflow: hidden;
                box-shadow: 0px 0px 9px -4px #8b8b8b;
                margin-bottom: $margin;
                 .key-image {
                    min-width: 100px;
                     img {
                        width: 100px;
                     }
                 }
                 .card-details {
                     .key-title {
                        .name {
                            color: $text-dark-color;
                            font-weight: 700;
                            font-size: $f-size;
                         }
                         .date-re {
                             font-size: $f-size-xs;
                             font-weight: 600;
                             color: lighten($color: $text-dark-color, $amount: 20);
                             margin-bottom: $margin;

                         }
                     }
                     .key-overview {
                         p {
                            font-size: $f-size-xs;
                            font-weight: 600;
                            color: $text-dark-color;
                         }
                     }
                 }
             }
         }
    }
}
