
@import "../../../GlobalStyle/variables.scss";
@import "../../../GlobalStyle/mixin.scss";

.sort {
    width: 280px;
    margin-bottom: 10px;
    overflow: unset;
    .filter-t {
        @include flex-box(center,space-between);
        font-size: $f-size-5;
        color: $text-dark-color;
        border-bottom: 1px solid #eeececab;
        padding: $padding-10 $padding;
        cursor: pointer;
      }
    .sort-content {
        padding: $padding;
        border-bottom:1px solid  #eeececab ;
        .c-ti {
            color: $text-dark-color-2;
            font-size: $f-size-5;
            font-weight: 400;
            padding-bottom: $padding-10;
        }
        .selections {
            cursor: pointer;
            @include flex-box(center,space-between);
            width: 100%;
            max-width: 100%;
            padding: $padding-5 $padding-10;
            font-weight: 400;
        }
        #selections * {
            padding: $padding-5;
        }
    }
}