
@import "../../../GlobalStyle/variables.scss";
@import "../../../GlobalStyle/mixin.scss";

.sort {
    width: 280px;
    margin-top: $margin;
    .filter-t {
        @include flex-box(center,space-between);
        font-size: $f-size-5;
        color: $text-dark-color;
        border-bottom: 1px solid #dddadaab;
        padding: $padding-10 $padding;
      }
    .sort-content {
        padding: $padding;
        border-bottom:1px solid  #dddadaab ;
        .c-ti {
            color: lighten($color: $text-dark-color, $amount: 10);
            font-size: $f-size-5;
            font-weight: 200;
            padding-bottom: $padding-10;
        }
        .selections {
            cursor: pointer;
            @include flex-box(center,space-between);
            width: 100%;
            max-width: 100%;
            padding: $padding-5 $padding-10;
            background-color: #d3d3d3;
            border-radius: $border-r;
        }
        #selections * {
            padding: $padding-5;
        }
    }
}