@import "./GlobalStyle/variables.scss";
@import "./GlobalStyle/mixin.scss";

// body {
//   margin: 0;
//   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
//     'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
//     sans-serif;
//   -webkit-font-smoothing: antialiased;
//   -moz-osx-font-smoothing: grayscale;
// }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-transform: capitalize;
  transition: all .3s;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
  cursor: pointer;
}

input, button , input:focus, select{
  outline-color: transparent;
  border-color: transparent;
  background-color: transparent;
  cursor: pointer;
}

img, picture {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  object-position: center;
}

.main-t-header {
  padding: $padding-5 $padding;
  background-color: $logo-color;
  .media-details{
      @include flex-box();
      .media-image {
          max-width: 70px;
          overflow: hidden;
          border-radius: $border-r;
      }
      .media-name {
        .name {
            font-size: $main-f-size;
            color: $text-dark-color;
        }
        .media-back-to {
            @include flex-box(center,flex-start,5px);
            color: lighten($color: $text-dark-color, $amount: 10);
            font-size: $f-size-s;
            font-weight: 700;
            svg {
                font-size: $f-size-s;
            }
        }

      }

  }

}

.alt-content {
  padding: $padding;
  @include flex-box(flex-start,flex-start);
  .alt-cout-list {
    border-radius: $border-r;
    box-shadow: 0 0 10px 0 #c9c7c7;
    overflow: hidden;
    min-width: 200px;
    .cout-header {
        padding: $padding;
        background-color: $logo-color;
        @include flex-box(center,space-between);
    }
    .cout-list { 
        li {
            @include flex-box(center,space-between);
            padding: $padding-10   $padding;
            span {
                background-color: #c9c7c7;
                padding: $padding-5  $padding-10;
                border-radius: $circle;
            }
            &:hover {
                background-color: #c9c7c7;
                span {
                    background-color: aliceblue;
                }
            }
        }
    }
  }
  .alt-t-tabels {
      min-width: calc(100% - 240px);
      .titles-card {
          box-shadow: 0 0 10px 0 #c9c7c7;
          margin-bottom: $margin;
          min-width: 100%;
          display: inline-table;
          border-radius: $border-r;
          overflow: hidden;
          .t-h {
              display: table;
              padding: $padding-10;
              background-color: #c9c7c7;
              min-width: 200%;
              h3 {

                  @include flex-box(center,flex-start,10px);
                  img {
                      max-width: 30px;
                  }
              }
          }
          .tbody {
              .tr {
                 @include flex-box(center,flex-start,0);
                 padding: $padding-10;
                 &.tr-b-b {
                     border-bottom: 1px solid #dbd8d8;
                 }
                  td {
                      display: flex;
                      width: 50%;
                  }
              }
          }
      }
  }
}


