@import "./GlobalStyle/variables.scss";
@import "./GlobalStyle/mixin.scss";

@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&family=Cairo:wght@200..1000&family=Commissioner:wght@400;500;700&family=DM+Sans:ital,wght@0,700;1,400&family=Kumbh+Sans:wght@400;500;600;700;800;900&family=League+Spartan:wght@500;600;800;900&family=Nunito+Sans:ital,wght@0,300;0,600;1,700&family=Nunito:ital,wght@0,500;0,700;1,400&family=Poppins:wght@500;700&family=Shadows+Into+Light&display=swap');

body {
  margin: 0;
  font-family: "Cairo", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-transform: capitalize;
  transition: all .3s;
  line-height: 1.6;
 
}

a {
  text-decoration: none;
}

li {
  list-style: none;
  cursor: pointer;
}

input, button , input:focus, select{
  outline-color: transparent;
  border-color: transparent;
  background-color: transparent;
  cursor: pointer;
}

img, picture {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  object-position: center;
}


.alt-content {
  padding: $padding;
  @include flex-box(flex-start,flex-start);
  .alt-cout-list {
    border-radius: $border-r;
    box-shadow: 0 0 10px 0 #c9c7c7;
    overflow: hidden;
    min-width: 200px;
    .cout-header {
        padding: $padding;
        background-color: $logo-color;
        @include flex-box(center,space-between);
    }
    .cout-list { 
        li {
            @include flex-box(center,space-between);
            padding: $padding-10   $padding;
            span {
                background-color: #c9c7c7;
                padding: $padding-5  $padding-10;
                border-radius: $circle;
            }
            &:hover {
                background-color: #c9c7c7;
                span {
                    background-color: aliceblue;
                }
            }
        }
    }
  }
  .alt-t-tabels {
      min-width: calc(100% - 240px);
      .titles-card {
          box-shadow: 0 0 10px 0 #c9c7c7;
          margin-bottom: $margin;
          min-width: 100%;
          display: inline-table;
          border-radius: $border-r;
          overflow: hidden;
          .t-h {
              display: table;
              padding: $padding-10;
              background-color: #c9c7c7;
              min-width: 200%;
              h3 {

                  @include flex-box(center,flex-start,10px);
                  img {
                      max-width: 30px;
                  }
              }
          }
          .tbody {
              .tr {
                 @include flex-box(center,flex-start,0);
                 padding: $padding-10;
                 &.tr-b-b {
                     border-bottom: 1px solid #dbd8d8;
                 }
                  td {
                      display: flex;
                      width: 50%;
                  }
              }
          }
      }
  }
}

::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: $text-light-color;
  border-radius: $border-r;
  margin-block: 200px;
  margin-inline: 200px;
}
::-webkit-scrollbar-thumb {
  background-color:$text-light-color-2;
  border-radius: $border-r;
  border: 2px solid $text-light-color;
}
::-webkit-scrollbar-thumb:hover{
  background-color: darken($color: $text-light-color-2, $amount: 2);;
}


// active links 

.nav-btn {
  font-size: $f-size-xs;
  font-weight: 500;
  color: $text-dark-color;
  padding: $padding-10;
  @include flex-box(center,space-between);
    a {
        @include flex-box(center,space-between);
        width: 100%;
        color: $text-dark-color;
    }
  cursor: pointer;
  &.active,&:hover,&.active:hover {
      color: lighten($color: $text-dark-color, $amount: 50);
      position: relative;
      transition: color 1s ;
      // a {
      //   color: lighten($color: $text-dark-color, $amount: 50);
      // }
      &::before {
          content: '';
          position: absolute;
          top: 100%;
          left: 50%;
          width: 0;
          height: 0;
          border-bottom: 2px solid lighten($color: $text-light-color-2, $amount: 50);
          border-radius: $circle;
          background-color: $logo-color;
          box-shadow: 0 -10px 16px 2px rgba(36, 35, 35, 0.6);
          animation: animateActiveBTN .5s  ease-out forwards ;
      }
  }
  
  &:hover {
      color: $text-dark-color;

      &::before {
          background-color: $text-light-color;
      }
  }
}

@keyframes animateActiveBTN {
  100% {
      width: 100%;
      left: 0%;
  }
}

.image-hover {
  cursor: pointer;
    &:hover {
      filter: brightness(150%) hue-rotate(30deg) ;
      animation: animateImage 1s ease-in-out alternate-reverse;
    } 
}

.scale {
    &:hover {
      transform: scale(1.07);
    }
}

@keyframes animateImage {
  100% {
    filter: brightness(120%) hue-rotate(180deg) ;
  }
}

.card {
  border-radius: $border-r-l;
  border: 1px solid #00000031;
  overflow: hidden;
}





