@import "../../../GlobalStyle/variables";
@import "../../../GlobalStyle/mixin";

.sort-content {
    .show-content {
        .option {
            label {
                padding: $padding-5;
            }
        }
    }
    .release-cont {
        .release-date {
            @include flex-box(center,space-between);
            input {
                border: 1px solid #dddadaab;
                padding: $padding-5;
                border-radius: $border-r;
                color: lighten($color: $text-dark-color, $amount: 10);
            }
        }
    }
    .gen-nav {
        .genr-ul {
            @include flex-box(center,flex-start,5px);
            flex-wrap: wrap;
            li {
                padding: 0 $padding-10;
                cursor: pointer;
                font-size: $f-size-5;
                color: $text-dark-color-2;
                border-radius: $border-r;
                border: 1px solid #e0dbdb;
                &:hover {
                    background-color: lighten($color: $text-dark-color, $amount: 10);
                    border-color: $text-dark-color; 
                    color: $text-light-color;
                }
                &.active {
                    background-color: $text-dark-color;
                    color: $text-light-color;
                }
            }
        }
    }
}