@import "../../GlobalStyle/variables";
@import "../../GlobalStyle/mixin";

.top-billed {
    padding: $padding;
    .title {
        font-size: $main-f-size;
        color: $text-dark-color
    }
    .persons {
        @include flex-box(flex-start);
        overflow-x: auto;
        margin: $margin 0;
    }
    .full-cast {
        cursor: pointer;
        color: $text-dark-color;
        font-size: $f-size-s;
    }
}