@import "../../GlobalStyle/variables";
@import "../../GlobalStyle/mixin";

.recommendations {
    padding: $padding;
    .recom-t {
        font-size: $main-f-size;
        color: $text-dark-color;
        margin-bottom: $margin
    }
    .recom-content {
          @include flex-box(flex-start);
          padding-bottom: $padding;
          overflow-x: auto;
          .media-card {
            min-width: 250px;
            .image {
                cursor: pointer;
                position: relative;
                border-radius: $border-r;
                overflow: hidden;
                img {
                    min-width: 250px;
                    max-height: 141px; 
                }
                .overlay-content {
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    width: 100%;
                    padding: $padding-5;
                    background-color: $text-light-color;
                    @include flex-box(center,space-between);
                    .over-date, .add-to {
                        @include flex-box()
                    }
                }
            }
            .media-content {
                @include flex-box(center,space-between);
                font-size: $f-size-xs;
                color: $text-dark-color;
            }
          }
    }
}